*{
  box-sizing: border-box;
}

body{

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

header{
  color: pink;
  text-align: center;
}

aside{
  display: inline-block;
  width: 20%; 
  text-align: center;
  color:#4A4A4A;
  vertical-align: top;
  border: 1px solid #4A4A4A;
  height: 450px;
  padding: 20px;
}

main{
  display: inline-block;
  width: 600px; 
  color: #4A4A4A;
  padding: 0 30px;
  
}

h1{
  margin: 0px;
  text-align: left;
  font-size: 30px;
}

h2{
  text-align: justify;
  font-size: 15px;
}

